/*исправь отступы*/
body {
    text-align: center;
    font-family: 'DejaVu Sans Mono', monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: bottom;
    margin-top: 50px;
    margin-bottom: 50px;
}

a, button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 80px;
    padding: 10px;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: larger;
    outline: none;
    margin-bottom: 50px;
}

a:hover, button:hover {
    background-color: #bfb6b7;
    cursor: pointer;
}

.validationError {
    color: #aa0002;
}

input {
    margin-bottom: 15px;
    font-family: 'DejaVu Sans Mono', monospace;
    font-weight: bolder;
}

input:focus {
    border-color: black;
    outline: none;
}

input[type = "checkbox"]:hover {
    cursor: pointer;
}