
body {
    font-family: 'DejaVu Sans Mono', monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: bottom;
    margin-top: 50px;
    margin-bottom: 50px;
}

a, button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    align-self: center;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 80px;
    padding: 10px;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: larger;
}

a:hover {
    background-color: #bfb6b7;
}

.validationError {
    color: #aa0002;
}

button:hover {
    background-color: #bfb6b7;
}

input {
    margin-bottom: 15px;
}